@page
@using ObligatorioProg2.Dominio;
@model ObligatorioProg2.Pages.EditarClineteModel
@{}
    <h1>Edición Cliente</h1>

    <div class="row">
        <div class="col-8 offset-2">
            <form method="post">
                <div class="mb-3">
                    <label for="codigo">Código</label><input type="number" name="codigo" value="@Model.ClienteEditado.Codigo" readonly />
                    <label for="nombre">Nombre</label><input type="text" name="nombre" value="@Model.ClienteEditado.Nombre" /> 
                    <label for="direccion">Dirección</label><input type="text" name="direccion" value="@Model.ClienteEditado.Direccion" />
                    <label for="telefono">Teléfono</label><input type="number" name="telefono" value="@Model.ClienteEditado.Telefono" />
                    <fieldset>
                        <legend>Tipo de Documento</legend>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="rCedula" name="TDoc" value="1" checked> <label class="form-check-label" for="rCed">Cédula</label> <br>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="rPasaporte" name="TDoc" value="2"> <label class="form-check-label" for="rPasa">Pasaporte</label> <br>
                        </div>
                        <div class="form-check">
                            <input type="radio" id="rRUT" name="TDoc" value="3"> <label for="rRUT">RUT</label> <br>
                        </div>
                    </fieldset>
                    <label for="docu">Documento</label><input type="number" name="documento" value="@Model.ClienteEditado.Documento" />
                    <button type="submit">Modificar Cliente</button>
                </div>
            </form>
        </div>
    </div>


